body {
  background-color: #f0f0f0; /* Change this color to any color you like */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.undo-button,
.redo-button {
  background-color: #007bff; /* Blue color */
}

.clear-all-button {
  background-color: red; /* Change button color to red */
}

.button:hover {
  background-color: #45a049;
}

.save-excel-button {
  float: right; /* Align button to the right */
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

#students-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#students-table th,
#students-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#students-table th {
  background-color: #f2f2f2;
}

#students-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students-table tr:hover {
  background-color: #ddd;
}

